.home
  .background.filter.lazy(data-src="img/banners/home-banner.jpg")
  .container
    .home__container
      h5.home__title ЛИКВИДАЦИЯ ПАРОК С МЕХОМ ИЗ ИТАЛИИ
      span.home__sub-title СКИДКИ ДО 70% НА ВСЕ МОДЕЛИ ДО 20 АПРЕЛЯ
      .timer
        span.timer__title До конца ликвидации осталось:
        .timer__container(data-countdown="2020/02/27")
      .home__button
        a(href="#catalogue").button_style1.scroll-link СМОТРЕТЬ КАТАЛОГ
          