.promo.block
  .container
    .block__head
      .block__title Введите Ваш номер телефона и забронируйте цену со скидкой до 70% на любую парку с мехом из Италии до 20 апреля
    .promo__container
      .promo__content
        img(data-src="https://static.tildacdn.com/tild6632-3864-4131-b937-333833313361/1_165109.jpg", alt="").lazy
        form.promo__form
          .promo__form-group
            input(type="text" placeholder="Введите Ваше имя" required).promo__form-input
          .promo__form-group
            input(type="tel" placeholder="Введите Ваш Телефон" required).phone.promo__form-input
          .promo__form-group
            button(type='submit').promo__form-button.promo-style ЗАБРОНИРОВАТЬ ЦЕНУ СО СКИДКОЙ


        