.video-block.block
  .container
    .block__head
      .block__title Три способа застегивания Парки с мехом
      .block__sub-title Посмотрите видео о том, как можно застегивать наши парки
    .video-block__container
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/mC5tIrCZziQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=mC5tIrCZziQ").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        

